{% extends "potyk-io/_base.html" %}

{% block style %}
    <link rel="stylesheet" href="/static/potyk-io/css/index.css">
    <link rel="stylesheet" href="/static/potyk-io/css/md-content.css">
{% endblock %}

{% block main %}

    <h1>potyk.io</h1>
    <div class="flex-center" style=" color: #9f9f9f; ">
            <span style="border-bottom: 1px dotted gray; cursor: zoom-in"
                  title="Занимаюсь хуйнёй">Делаю свой интернет</span> <img src="/static/potyk-io/img/globe.gif" id="globe">
    </div>
    <div class="welcome-mat-wrap">
        <img src="/static/potyk-io/img/welcome-mat.jpg" alt="добро пожаловать" class="welcome-mat">
    </div>

    <h2>Лента</h2>

    <div class="card-grid card-grid--feed">
        {% include "potyk-io/_notes_batch.html" %}
    </div>
{% endblock %}

{% block script %}
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
{% endblock %}
