# potyk-io reverse proxy
# https://potyk.io (auto HTTPS via Let's Encrypt)

potyk.io {
	encode gzip

	# potyk-fin → :5007
	handle /fin* {
		reverse_proxy 127.0.0.1:5007
	}

	# potyk-io → :5008
	handle {
		reverse_proxy 127.0.0.1:5008
	}
}
