[Unit]
Description=personal internet
After=network.target

[Service]
User=leybovich-nikita
# e.g. $HOME = /home/leybovich-nikita
# e.g. $PROJECT = /potyk-io
# e.g. $PORT = 5008
WorkingDirectory=/home/leybovich-nikita/potyk-io
EnvironmentFile=/home/leybovich-nikita/potyk-io/.env
ExecStart=/home/leybovich-nikita/potyk-io/.venv/bin/gunicorn -c gunicorn.conf.py main:app
Restart=always
RestartSec=10
StandardOutput=file:/home/leybovich-nikita/potyk-io/logs/gunicorn.log
StandardError=file:/home/leybovich-nikita/potyk-io/logs/gunicorn.error.log

[Install]
WantedBy=multi-user.target
