{% extends "potyk-io/_base.html" %}

{% block title %}Тревел — potyk.io{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/potyk-io/css/index.css">
    <link rel="stylesheet" href="/static/potyk-io/css/travel.css">
{% endblock %}

{% block main_class %}travel-index{% endblock %}

{% block main %}
    <h1>Тревел</h1>

    <div class="travel-guide">
        <a class="card card-link" href="/travel/how-to">
            <h2>Гайд по тревелу</h2>
        </a>
    </div>

    <section class="travel-section">
        <h2><a href="/travel/memories">Воспоминания</a></h2>
        <div class="travel-grid">
            <a class="card" href="/travel/memories/tula">
                <h3>Тула</h3>
            </a>
            <a class="card" href="/travel/memories/kzn-26">
                <h3>Казань</h3>
            </a>
            <a class="card" href="/travel/memories/vrn-26">
                <h3>Воронеж</h3>
            </a>
        </div>
    </section>

    <section class="travel-section">
        <h2><a href="/travel/plans">Планы</a></h2>
        <div class="travel-grid">
            <a class="card" href="/travel/plans/spb-27">
                <h3>Питер</h3>
            </a>
            <a class="card" href="/travel/plans/perm">
                <h3>Пермь</h3>
            </a>
        </div>
    </section>
{% endblock %}
