{% extends "potyk-io/_base.html" %}

{% block title %}potyk-money{% endblock %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="/static/potyk-io/css/index.css">
{% endblock %}

{% block main %}
<h1>potyk-money</h1>

<div class="card-grid card-grid--feed">
    <a class="card content-card" href="/fin/">
        <img class="note-cover"
             src="/static/potyk-io/img/money/fin-cover-placeholder.svg"
             alt="potyk-fin"
             loading="lazy">
        <div class="note-preview md-content">
            <h3>potyk-fin</h3>
            <p class="card-subtitle">Учёт трат и сбережений</p>
        </div>
    </a>
    <a class="card card-text" href="/invest/">
        <h3>Инвест</h3>
    </a>
</div>
{% endblock %}
