{% extends "_base.html" %}

{% block style %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main %}

    <h1>potyk.io</h1>
    <div class="flex-center" style=" color: #9f9f9f; ">
            <span style="border-bottom: 1px dotted gray; cursor: zoom-in"
                  title="Занимаюсь хуйнёй">Делаю свой интернет</span> <img src="../static/img/globe.gif" id="globe">
    </div>
    <div style="margin-bottom: 24px"></div>

    <div class="notes">
        {% for note in random_notes %}
            <a class="card" href="{{ note.url }}">
                <div class="note-preview">{{ note.preview | safe }}</div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
