{% extends "potyk-io/_base.html" %}

{% block title %}potyk-art{% endblock %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="/static/potyk-io/css/index.css">
<link rel="stylesheet" href="/static/potyk-io/css/md-content.css">
{% endblock %}

{% block main %}
<h1>potyk-art</h1>

<div class="card-grid card-grid--feed">
    {% for project in projects %}
        {% for image in project.images %}
        <a class="card" href="{{ image.url }}">
            <img class="note-cover" src="{{ image.url }}" alt="{{ image.alt }}" loading="lazy">
            <div class="note-preview md-content"><h3>{{ project.title }}</h3></div>
        </a>
        {% endfor %}
    {% else %}
        <p class="card-grid-empty">Пока пусто</p>
    {% endfor %}
</div>
{% endblock %}
