<!DOCTYPE html>
<html lang="{{ html_lang|default('ru') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="{% block viewport %}width=device-width, initial-scale=1.0{% endblock %}">
    {% if base_href %}<base href="{{ base_href }}">{% endif %}

    <title>{% block title %}potyk.io{% endblock %}</title>

    {% block head_icons %}{% endblock %}
    {% block head_fonts %}{% endblock %}

    <link rel="stylesheet" href="/static/jinja/css/shell.css">
    {% block head_stylesheets %}{% endblock %}

    {% block style %}{% endblock %}

    {% if not config.DEBUG %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){
            m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
        })(window, document,'script','https://mc.yandex.ru/metrika/tag.js', 'ym');

        ym(82960681, 'init', {clickmap:true, referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/82960681" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    {% endif %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <header class="top-bar">
        {% block header_leading %}{% endblock %}
        {% block header_brand %}{% endblock %}
        <div class="top-bar-spacer"></div>
        {% block header_trailing %}{% endblock %}
        {% include "jinja/_auth_header.html" %}
    </header>

    {% block layout %}
    <div class="layout layout-simple">
        <div class="layout-main">
            <main class="{% block main_class %}{% endblock %}">
                {% include "jinja/_flashes.html" %}
                {% block main %}{% endblock %}
            </main>
        </div>
    </div>
    {% endblock %}

    {% block layout_script %}{% endblock %}
    {% block script %}{% endblock %}
</body>
</html>
